.panel-direct-link {
    float: right;

    margin-top: 5px;
    margin-right: 10px;
}
.panel-direct-link .icon {
    font-size: 20px;
    color: #a6a6a6;
}

.panel.collapsible .panel-body ul {
    padding-left: 20px;
}

.panel.collapsible .panel-body a {
    color: #0089cd;
}

/* Carousel. */
.carousel .carousel-inner > .item > .carousel-caption a {
    font-size: 30px;
}
.carousel .carousel-inner > .item > .carousel-caption h4 {
    font-size: 30px;
    color: #30353c;
}
.carousel .carousel-inner > .item > .carousel-caption p {
    font-size: 18px;
    color: #30353c;
}

/* Resets. */
.node--os2web_base_contentpage--includeable {
    background: initial;
    border-radius: initial;
    margin-bottom: initial;
}

/* Accessibility color contrast fixes. */
#top_menu a {
  background-color: transparent;
}
.nav-tabs > li.active > a {
  color: #30353c;
}
.footer-indholsdmenu .nav > li > a {
  background-color: transparent;
}
.footer-menu {
  background-color: #3A67A1;
}
#footer-contacts .footer-address a {
  color: #026b9e;
}
